@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Application Need</h2>
        <ul>
            <li>
                TPAs have tight 12month budget cycles preventing them to make heavy IT investments
            </li>
            <li>
                Consolidation in the market continues to occur but tools and services addressing the TPA needs have not flourished
                            </li>
            <li>
                TPAs need a strong cost avoidance/cost reduction benefit along with functionality and features that distinguishes them to their self funded employers
            </li>
            <li>
                Self funded clients find ROI in reduction of adverse events and patient readmissions
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Know more about our core solutions</h2>
        <ul>
            <li><a href="#">Administrative CAE Portal for TPAs </a></li>
            <li><a href="#">Administrative Transformation Engine</a></li>
            <li><a href="#">Consumer Portal</a></li>
            <li><a href="#">Clinical Analytics Engine</a></li>
        </ul>
    </div>
 
</div>
