
@{
    ViewData["Title"] = "POC";
}

<h2>CAE Admin</h2>
@foreach (var msg in ViewData["Message"] as IEnumerable<string>)
{
    <li> @msg </li>
}

<img src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/C0de54ecd826a4ca3ad0969169f9e3e98/projects/M86affb57b575979e0d8316ce9735b3441552389647419/pages/3c502b1d9d7e4b4abf696d073669c965/image/3c502b1d9d7e4b4abf696d073669c965.png" />

<h2>TPA Admin</h2>
<img src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/C0de54ecd826a4ca3ad0969169f9e3e98/projects/M86affb57b575979e0d8316ce9735b3441552389647419/pages/Dc111627b3786a26845d4a008656b4415/image/Dc111627b3786a26845d4a008656b4415.png" />
